/*heme.css*/
:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    /*paleta 1 */
    --fondo: #F7F3F1;
    --nude: #D9B5AF;
    /*primario*/
    --acento: #C0857D;
    /*secundario*/
    --texto-oscuro: #7A4F4B;
    --texto-fuerte: #080808;

    /*paleta 1 */
    --fondo2: #F9E8E4;
    --champagne: #E3B8A6;
    --rose-gold: #710a54;
    --terracota: #8A4F3D;
    --cafe-negro: #2B1A19;

    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: 'krub', sans-serif;
    background-image: linear-gradient(to top, var(--rose-gold) 0%, var(--acento) 100%);
    /*PARA DEGRADADO*/

}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}


.home-header {
    text-align: center;
}

.home-header h1 {
    font-size: 3.8rem;
    font-weight: 700;
}

.home-header span {
    font-size: 2rem;
}

.nav-bg {
    background-color: var(--champagne);

}

.navegacion-principal {
    display: flex;
    /*     ¨colum es para ver de arriba a abjo¨*/
    flex-direction: column;
    /*align-items: center;  <---- para centrar cuando estan en colum*/
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        /*row para ver elementos de izq a dercha*/
        justify-content: right;
        justify-content: space-around;
    }
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 700;
    padding: 2rem;
}

.navegacion-principal p {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 700;
    padding: 2rem;
}

.navegacion-principal a:hover {
    background-color: var(--nude);
    color: var(--oscuro);
}




.hero {

    background-image: url(https://www.anyabeautyco.com/img/Servicio-principal-pestanas.jpg);
    /* link de la imagen: https://www.anyabeautyco.com/img/Servicio-principal-pestanas.jpg*/

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position: 100% 50%;
    height: 450px;
    /*padding: 20px;*/
    position: relative;
    margin-bottom: 2rem;

}



.contenido-hero {
    /*PARA DAR TRANSPARENCIA A LA IMAGEN*/
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    background-color: rgb(0, 0, 0 / 80%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.ubicacion {
    display: flex;
    align-items: center;
}

.boton {
    background-color: var(--acento);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    margin-right: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}


.sombra {
    -webkit-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 7px 5px 0px rgba(0, 0, 0, 0.75);

    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 2rem;
}


.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}


.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* centra todo lo que contiene */
}


.iconos {
    height: 30rem;
    width: 50rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    /* centra horizontal */
    align-items: center;
    /* centra vertical */
}

.mi-imagen {
    height: 30rem;
    /* un poco más pequeño para que no se desborde */
    width: 50rem;
    border-radius: 5%;
    object-fit: cover;
    /* para que no se deforme */
}


.descripcion-img {
    height: 70%;
    width: 70%;
}

.descripcion-img h3 {
    text-align: start;
}

.descripcion-img p {
    text-align: justify;
}

.separacion {
    padding: 1rem;
}

.footer {
    text-align: center;
}