/*
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/

:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;

  /*paleta 1 */
  --fondo: #F7F3F1;
  --nude: #D9B5AF;
  /*primario*/
  --acento: #C0857D;
  /*secundario*/
  --texto-oscuro: #7A4F4B;
  --texto-fuerte: #080808;

  /*paleta 1 */
  --fondo2: #F9E8E4;
  --champagne: #E3B8A6;
  --rose-gold: #710a54;
  --terracota: #8A4F3D;
  --cafe-negro: #2B1A19;

  height: 100%;
  margin: 0;
  padding: 0;
}


html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  /* 1rem = 10px */
  font-family: 'krub', sans-serif;
  background-image: linear-gradient(to top, var(--rose-gold) 0%, var(--acento) 100%);
  /*PARA DEGRADADO*/
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 1.8rem;
}

h1,
h2,
h3 {
  text-align: center;
}